* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #333;
  	font-family: Arial, sans-serif;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100vh;
}

.container {
  	max-width: 100vmin;
}


h1 {
	color: white;
	text-align: center;
	font-size: 12vmin;
}
h2 {
	color: white;
	text-align: center;
	font-size: 11vmin;
}
h3 {
	color: white;
	text-align: center;
	font-size: 10vmin;
}
h4 {
	color: white;
	text-align: center;
	font-size: 9vmin;
}
h5 {
	color: white;
	text-align: center;
	font-size: 8vmin;
}
h6 {
	color: white;
	text-align: center;
	font-size: 5vmin;
}

p {
	font-size: 4vmin;
  	margin-top: 10px;
	text-align: justify;
  	color: #888;
}

button {
	display: block;
	text-align: center;
	font-size: 4vmin;
	font-weight: bold;
  	background-color: #4CAF50;
  	border: none;
  	border-radius: 5vmin;
  	color: #333;
  	cursor: pointer;


    padding: 3vmin 5vmin;
	margin: 3vmin auto 0;
}
button:hover {
	background-color: #ddd;
}
button:focus {
	outline: black;
}	

.btn-back {
  	margin-top: 5vmin;
  	padding: 3vmin 5vmin;
}

input {
	border: none;
	border-radius: 6vmin;
	padding: 3vmin;
	font-size: 4vmin;
}

label {
	color: #4CAF50;
	font-weight: bold;
	font-size: 5vmin;
	margin: 1vmin;
	margin-top: 3vmin;
}
a {
    color: #4CAF50;
    text-decoration: none;
}
a:hover {
	color: #ddd;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Центрирование элементов по горизонтали */
}